body {
  margin: 0;
}
header {
  background-color: #fef83e;
  padding: 15px;
}
header ul {
  float: right;
  color: black;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}

header h1 {
  display: inline-block;
}

header p {
  display: inline-block;
}

.heroImg {
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  text-align: center;
}
button {
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

footer {
  background-color: #fb4cd2;
  padding: 5px;
  color: black;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
